<section id="tabs">
  <div>
    <h6 class="section-title">Order List</h6>
  </div>

  <nav mat-tab-nav-bar>
    <div class="container-fluid">
      <div class="row">
        <a mat-tab-link class="col" routerLink="/" [active]="url == '/'">
          สินค้ารอรับเข้า
        </a>
        <a mat-tab-link class="col" routerLink="/customer-receive" [active]="url == '/customer-receive'">
          ลูกค้ารับสินค้า
        </a>
        <a mat-tab-link class="col" routerLink="/check-order" [active]="url == '/check-order'">
          ตรวจสอบรายการ
        </a>
      </div>
    </div>
  </nav>



  
  <router-outlet></router-outlet>
</section>